@{
    ViewData["Title"] = "Wex Integration";
}

<main role="main">
    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
        <div class="card-deck">

            <div class="card">
                <div class="card-header">
                    Upload file
                </div>
                <div class="card-body">
                    <form enctype="multipart/form-data" asp-action="Index" asp-controller="Wex" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label for="example-number">Planilha: </label>
                            <select name="tipoPlanilha" class="form-control" id="sistema">
                                <option value="Padrão">Padrão</option>
                                @*<option value="Concluidos">Concluidos</option>*@
                            </select>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="custom-file">
                                    <input type="file" id="file" name="file">
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-outline-info btn-rounded" id="uploadButton"><i class="fas fa-save"></i> Send</button>
                    </form>
                    @if (ViewBag.Upload)
                    {
                        <hr />
                        <h5 class="card-title">Upload feito!</h5>
                        <ul>
                            <li>Issues criadas : @ViewBag.NewIssueQtd </li>
                            <li>Issues atualizadas : @ViewBag.UpdateIssueQtd </li>
                        </ul>
                    }
                </div>
            </div>
        </div>
    </div>
</main>
@section scripts{

    <script src="~/js/jquery.loading.block.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(function () {
            $('#uploadButton').click(function () {
                $.loadingBlockShow({
                    imgPath: '/images/default.svg'
                });
            });
        });
    </script>
}